<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>COUNTER</title>
</head>
<body>
    <button id="btncounter">Increase</button>
    <button id="btncounter2">Decrease</button>
    <p id="result"></p>
    <script>
     const btncounter= document.querySelector("#btncounter")
     const btncounter2= document.querySelector("#btncounter2")
     let counter = 0;

    btncounter.addEventListener('click', function(){
      counter++;
      document.querySelector('#result').innerHTML = counter;
    });
     btncounter2.addEventListener('click', function(){
      counter--;
       document.querySelector('#result').innerHTML = counter;
    });
    </script>
</body>
</html>